Source: py-pitop-sdk-migration
Section: python
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
# Required by pybuild
 dh-python,
 python3-all,
 python3-setuptools,
Standards-Version: 4.5.0
Homepage: https://pi-top.com

Package: python3-pitop-migr
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-pitop,
 python3-sonic,
Breaks:
 python3-pitop (<< 0.9),
Replaces:
 python3-pitop (<< 0.9),
 pt-diagnostics,
 python3-pt-buttons,
 python3-pt-keyboard,
 python3-pt-oled,
 python3-pt-pma,
 python3-pt-proto-plus,
Conflicts:
 pt-diagnostics,
 python3-pt-buttons,
 python3-pt-keyboard,
 python3-pt-oled,
 python3-pt-pma,
 python3-pt-proto-plus,
Provides:
 pt-diagnostics,
 python3-pt-buttons,
 python3-pt-keyboard,
 python3-pt-oled,
 python3-pt-pma,
 python3-pt-proto-plus,
Description: pi-top Python SDK - Migration Support
 Legacy support for Python modules and CLIs yet to migrate to pi-top Python SDK
 .
 This package attempts to assist users in migrating to the pi-top Python SDK
 (python3-pitop) by trying to ensure that Python and shell script code written
 using legacy pi-top Python libraries/CLIs continue to work using the latest
 SDK, whilst at the same time clearly notifying the user that they should update
 their code to use the new commands/Python module directly.
 .
 It is offered as a courtesy, and is not considered officially supported. It
 will be deprecated and removed in the future.
